@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site aims to pilot a Lego train through Infrared LEgo elements, signals and switches.</p>
<p>This is a development from <a href="https://github.com/ellerbach>"Laurent Ellerbach</a>.</p>
